
@{
    ViewData["Title"] = "AccessDenied";
}


<div class="ui negative message">
    <h2>權限不足。</h2>
    <h2>Your member's authority is not enough.</h2>
</div>

<br />
<button class="ui left labeled icon button big basic" onclick="window.history.back()">
    <i class="left arrow icon"></i>
    Back 回上頁
</button>

